<div
  class="sidenav_container"
  [@onSideNavChange]="sideNavState ? 'open' : 'close'"
>
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%">
    <!-- <div>
      <mat-nav-list *ngIf="authenticationService.isLoggedIn | async" dense>
        <a mat-list-item>
          <img
            class="avatar"
            src="assets/img/default_avatar.png"
            alt="avatar"
          />
          <span [@animateText]="linkText ? 'show' : 'hide'"
            >{{ authenticationService?.currentUserValue?.username }}
          </span>
        </a>
      </mat-nav-list>
      <mat-divider></mat-divider>
    </div> -->

    <div>
      <mat-nav-list>
        <a mat-list-item routerLink="/reports">
          <mat-icon class="menu-item-icon">library_add_check</mat-icon>
          <span [@animateText]="linkText ? 'show' : 'hide'" i18nTEST="@@checkpoints">{{'LEFT_MENU.REPORTS' | translate }}</span>
        </a>
        <a mat-list-item routerLink="/configuration">
          <mat-icon class="menu-item-icon">settings</mat-icon>
          <span [@animateText]="linkText ? 'show' : 'hide'" i18nTEST="@@maps">{{'LEFT_MENU.CONFIGURATION' | translate }}</span>
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>
